<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website test</title>
</head>
<body>
    <h1>Hello this is a new page</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad saepe iure magnam neque aliquid, quisquam quibusdam nisi! Eos aliquid nulla velit iste eligendi facere rerum amet similique eaque nemo quaerat molestiae molestias aut libero dolorum repellendus minima sunt eius, at sapiente expedita dolore sit? Voluptas inventore deleniti quas quis maxime.
    </p>
</body>
</html>