*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1;
}

* {
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
}
.container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}