//Variables
$primary-color: #000000;
$secondary-color: #FFFFFF;
$third-color: #F94F4F;
$fourth-color: #191921;

$active-third: #FF9393;
$active-fourth: #434356;

//Container
%container {
    max-width: 1110px;
    margin: 0 auto;
}

//Headings and body 
h1 {
    font-family: "Commissioner", sans-serif;
    font-weight: 800;
    font-size: 80px;
    line-height: 88px;
}

h2 {
    font-family: "Commissioner", sans-serif;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
}

h3 {
    font-family: "Commissioner", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
}

p {
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}