@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
.sec-call .container-call, .section-one .container-sec-two, .container-header {
  max-width: 1110px;
  margin: 0 auto;
}

h1 {
  font-family: "Commissioner", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 88px;
}

h2 {
  font-family: "Commissioner", sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
}

h3 {
  font-family: "Commissioner", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
}

p {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.sec-call .container-call, .section-one .container-sec-two, .container-header {
  max-width: 1110px;
  margin: 0 auto;
}

h1 {
  font-family: "Commissioner", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 88px;
}

h2 {
  font-family: "Commissioner", sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
}

h3 {
  font-family: "Commissioner", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
}

p {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.btn-1 {
  font-weight: 800;
  padding: 20px 35px;
  background-color: #F94F4F;
  color: #FFFFFF;
}
.btn-1:hover {
  transition: 0.3s;
  background-color: #FF9393;
}

.btn-2 {
  font-weight: 800;
  padding: 20px 35px;
  background-color: #000000;
  color: #FFFFFF;
}
.btn-2:hover {
  transition: 0.3s;
  background-color: #434356;
}

.btn-3 {
  font-weight: 800;
  padding: 10px 0px;
  background-color: transparent;
  color: #F94F4F;
  border-bottom: #F94F4F solid 2px;
}
.btn-3:hover {
  transition: 0.3s;
  color: #FF9393;
  border-color: #FF9393;
}

@media (min-width: 376px) and (max-width: 768px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 15px;
    line-height: 25px;
  }
  p {
    font-size: 15px;
    line-height: 25px;
  }
  .grid-color {
    background: linear-gradient(to left, #F94F4F 60%, #FFFFFF 40%) !important;
    background-size: cover !important;
  }
  .grid-color .container-header {
    padding: 0px 40px;
  }
  .grid-color .container-header ul li {
    margin-left: 20px !important;
    font-size: 15px;
  }
  .section-one {
    min-height: 600px !important;
  }
  .section-one .container-sec-two {
    padding: 0px 40px;
  }
  .section-one .container-sec-two div {
    max-width: 60% !important;
  }
  .section-two {
    min-height: 658px !important;
  }
  .section-two .darkblue-div {
    padding-top: 120px !important;
    padding-right: 40px;
  }
  .section-three {
    min-height: 677px !important;
  }
  .section-three .white-div {
    width: 43% !important;
    padding-top: 125px;
    padding-left: 40px;
  }
  .section-three .white-div h2 {
    position: static !important;
  }
  .section-three .overflow-div {
    width: 57% !important;
    align-items: start !important;
    padding-top: 160px;
    padding-bottom: 120px;
    padding-right: 40px;
    margin-top: -120px !important;
  }
  .section-three .overflow-div .overflow-div-text h1 {
    font-size: 80px !important;
  }
  .section-four {
    min-height: 472px !important;
  }
  .section-four .left-blue {
    margin-right: -100px !important;
    height: 352px !important;
    padding-left: 40px;
  }
  .section-four .left-blue .cont-text::after {
    right: -70px !important;
  }
  .section-four .div-book .book-text {
    width: auto !important;
    padding-right: 40px;
  }
  .sec-call {
    background-image: none !important;
  }
  .sec-call .container-call {
    gap: 100px;
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 375px) {
  h1 {
    font-size: 40px !important;
    line-height: 40px !important;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 15px;
    line-height: 25px;
  }
  p {
    font-size: 15px;
    line-height: 25px;
  }
  .container-header {
    min-height: 110px !important;
    padding: 0px 24px;
  }
  .grid-color {
    background-image: none !important;
  }
  .grid-color ul {
    display: none;
  }
  .section-one {
    background-image: none !important;
    min-height: 700px !important;
  }
  .section-one .container-sec-two {
    flex-direction: column;
    align-items: start !important;
    padding: 0px !important;
  }
  .section-one .container-sec-two .mobile-back {
    display: block !important;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .section-one .container-sec-two .mobile-back img {
    width: 100%;
  }
  .section-one .container-sec-two div:nth-child(2) {
    padding: 60px 24px 100px 24px !important;
  }
  .section-one .container-sec-two div:nth-child(2) p {
    padding: 0px !important;
  }
  .section-one .container-sec-two div {
    max-width: 100% !important;
  }
  .section-two {
    display: flex !important;
    flex-direction: column !important;
    min-height: auto !important;
  }
  .section-two .coffee-div {
    height: 200px;
  }
  .section-two .coffee-div #mobile-sec-two {
    display: block !important;
  }
  .section-two .coffee-div #mobile-sec-two img {
    height: 200px;
  }
  .section-two .darkblue-div {
    padding: 70px 24px !important;
    min-height: 377px !important;
  }
  .section-two .darkblue-div::before {
    transform: scale(0.5);
    left: 0px !important;
    top: -30px !important;
  }
  .section-three {
    flex-direction: column;
  }
  .section-three #mobile-title {
    display: block !important;
    color: #FFFFFF;
  }
  .section-three .white-div {
    display: none !important;
  }
  .section-three .overflow-div {
    padding-top: 96px 24px !important;
    width: 100% !important;
    margin-top: 0px !important;
  }
  .section-three .overflow-div h1 {
    font-size: 80px !important;
  }
  .section-four {
    display: flex !important;
    flex-direction: column-reverse;
  }
  .section-four .left-blue {
    margin: auto !important;
  }
  .section-four .left-blue .cont-text::after {
    display: none;
  }
  .sec-call .container-call {
    gap: 0px !important;
    flex-direction: column;
  }
}
/*// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.commissioner-<uniquifier> {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;
}*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
}

body {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 180px;
}

.grid-color {
  background: linear-gradient(to left, #F94F4F 50%, #FFFFFF 50%);
}
.grid-color .logo {
  width: 161px;
  height: 30px;
}
.grid-color ul li {
  display: inline;
  color: #FFFFFF;
  margin-left: 30px;
}
.grid-color ul li:hover {
  transition: 0.3s;
  font-weight: bold;
}
.grid-color ul lili:nth-child(1) {
  margin-left: 50px;
}

.section-one {
  background-image: linear-gradient(to right, #FFFFFF 38%, transparent), url("../images/background-one.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0%;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-one .container-sec-two {
  display: flex;
  align-items: center;
  min-height: 580px;
}
.section-one .container-sec-two .mobile-back {
  display: none;
}
.section-one .container-sec-two div {
  max-width: 60%;
}
.section-one .container-sec-two div p {
  margin: 50px 0px 70px 0px;
}

.section-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 984px;
}
.section-two #mobile-sec-two {
  display: none;
}
.section-two .coffee-div img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.section-two .darkblue-div {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 200px;
  padding-left: 80px;
  background-color: #191921;
  color: #FFFFFF;
  position: relative;
  height: 100%;
}
.section-two .darkblue-div::before {
  content: "";
  position: absolute;
  background-image: url("../images/deco.svg");
  left: -66px;
  top: 230px;
  height: 61px;
  width: 135px;
}
.section-two .darkblue-div .darkblue-text-div {
  max-width: 445px;
  height: 100%;
}
.section-two .darkblue-div .darkblue-text-div h2 span {
  color: #F94F4F;
}
.section-two .darkblue-div .darkblue-text-div p {
  margin: 50px 0px 40px 0px;
}

.section-three {
  min-height: 900px;
  display: flex;
  position: relative;
}
.section-three .white-div {
  background-color: #FFFFFF;
  width: 37%;
}
.section-three .white-div h2 {
  position: absolute;
  top: 200px;
  left: 165px;
}
.section-three .overflow-div {
  background-color: #F94F4F;
  width: 63%;
  margin-top: -180px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 85px;
}
.section-three .overflow-div .overflow-div-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 600px;
  max-width: 505px;
}
.section-three .overflow-div .overflow-div-text #mobile-title {
  display: none;
}
.section-three .overflow-div .overflow-div-text .overflow-item {
  color: #FFFFFF;
  position: relative;
  margin-bottom: 56px;
}
.section-three .overflow-div .overflow-div-text .overflow-item h1 {
  opacity: 0.25;
  position: absolute;
  top: -45px;
  left: -55px;
}
.section-three .overflow-div .overflow-div-text .overflow-item h3 {
  margin-bottom: 25px;
}

.section-four {
  display: grid;
  grid-template-columns: 37% 63%;
  min-height: 730px;
}
.section-four .left-blue {
  height: 530px;
  background-color: #191921;
  color: #FFFFFF;
  margin-right: -200px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-four .left-blue .cont-text {
  max-width: 445px;
  min-height: 224px;
  position: relative;
}
.section-four .left-blue .cont-text::after {
  content: "";
  background-image: url("../images/deco2.svg");
  width: 134px;
  height: 60px;
  position: absolute;
  top: 0px;
  right: -215px;
}
.section-four .left-blue .cont-text h2 {
  margin-bottom: 50px;
}
.section-four .left-blue .cont-text .div-arrows img {
  height: 40px;
  width: 40px;
}
.section-four .left-blue .cont-text .div-arrows img:hover {
  transition: 0.3s;
  opacity: 0.7;
}
.section-four .left-blue .cont-text .div-arrows img:nth-child(1) {
  margin-right: 15px;
}
.section-four .div-book {
  height: 100%;
  background-image: linear-gradient(to top, #000000 -10%, transparent, transparent), url("../images/background-three.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  color: #FFFFFF;
}
.section-four .div-book .book-text {
  width: 350px;
  min-height: 150px;
}

.sec-call {
  background-image: url("../images/deco.svg");
  background-position: -5% 50%;
  background-repeat: no-repeat;
}
.sec-call .container-call {
  min-height: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec-call .container-call a {
  white-space: nowrap;
}